

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgb(182, 0, 0);
    height: 8rem;
    background-color: #fff;
}

.footer a {
    color: black;
}


@media (max-width: 800px) {
    .footer p {
        margin-left: 1rem;
        width: 100%;
        padding: 2rem;
    }
  }

